/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
.navbar-item {
    @apply .block .no-underline .py-5 .text-grey-dark;
}

.navbar-circle {
    @apply .navbar-circle .block .border-4 .border-grey-dark block .flex .h-14 .items-center .justify-center .mb-2 .mx-auto .rounded-full .shadow-navbar-circle .w-14;
}

.navbar-circle--bg-img {
    @apply .bg-contain .border-0;
}

.navbar-circle--filled {
    @apply .bg-radial-gradient-grey .shadow-none .text-white;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor..
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
.bg-linear-gradient-off-white { background-image: linear-gradient(to bottom, #fff, #f2f2f2); }
.bg-top-inset-shadow { background-image: url('/img/top-inset-shadow.png'); }
.bg-my-gravatar { background-image: url('//www.gravatar.com/avatar/64e1c29….jpg?s=200&timestamp=02112018&d=https://cdn.wanikani.com/default-avatar-300x300-20121121.png'); }
.bg-radial-gradient-grey { background-image: radial-gradient(circle at center, #b3b3b3 0, #999 100%); }
.bg-texture { background-image: url('/img/bg-texture.png'); }
.bg-wk-icon { background-image: url('/img/wk-icon.png'); }

.bg-linear-gradient-pink-1 { background-image: linear-gradient(-45deg, rgb(255, 0, 170), rgb(221, 0, 147)); }
.bg-linear-gradient-purple-1 { background-image: linear-gradient(-45deg, rgb(170, 56, 198), rgb(136, 45, 158)); }
.bg-linear-gradient-blue-dark-1 { background-image: linear-gradient(-45deg, rgb(85, 113, 226), rgb(41, 77, 219)); }
.bg-linear-gradient-blue-light-1 { background-image: linear-gradient(-45deg, rgb(0, 170, 255), rgb(0, 147, 221)); }
.bg-linear-gradient-grey-darker-3-1 { background-image: linear-gradient(-45deg, rgb(85, 85, 85), rgb(67, 67, 67)); }

.bg-linear-gradient-blue-light-2 { background-image: linear-gradient(to bottom, #0af, #0093dd); }
.bg-linear-gradient-pink-2 { background-image: linear-gradient(to bottom, #f0a, #dd0093); }
.bg-linear-gradient-purple-2 { background-image: linear-gradient(to bottom, #a0f, #9300dd); }


.border-b-white { border-bottom-color: config('colors.white'); }
.border-l-white { border-left-color: config('colors.white'); }

.cursor-help { cursor: help; }

@variants hover {
    .text-shadow-1 { text-shadow: 0 1px 0 config('colors.white'); }
    .text-shadow-2 { text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.4); }
    .text-shadow-3 { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    .text-shadow-4 { text-shadow: 0 1px 0 rgba(0,0,0,0.3), 0 0 10px #fff; }
}

@variants focus {
    .no-outline { outline: 0; }
}